{{if .Mf}}
Sehr geehrter Herr {{.LastName}},
{{- else}}
Sehr geehrte Frau {{.LastName}},
{{- end}}
da dieses Wochenende das Wacken Open-Air Festiaval stattfand,
bin ich leider nicht in der Lage diese Woche am Unterricht
teilzunehmen.

Mit freundlichen Grüßen
Heinz Georg Kramm
